@font-face{
    font-family: 'Manrope';
    src: url(../fonts/Manrope-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Manrope';
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}


@font-face{
    font-family: 'Manrope';
    src: url(../fonts/Manrope-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

*{
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Manrope' sans-serif;
}


.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

html{
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(235, 225, 225, 0.466) 35%, rgba(250, 249, 249, 0.137) 100%);
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .container .title .razdel-click{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 800;
 

}

.header .container .title a{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

.header .container .icons .icon .fa-search{
    color: black;
    width: 17px;
    height: 16px;
}

.header .container .icons .icon{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

.header .container .icons .icon .fa-shopping-cart{
    color: black;
    width: 17px;
    height: 16px;
}

.header .container .icons .icon .fa-home{
    color: black;
    width: 17px;
    height: 16px;
}

.header .container .icons{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
    



.header .container{
    height: 60px;
    margin-bottom: 120px;
}

.kurs .container{
    display: flex;
}
.kurs .container .fitnes .title{
    font-family:'Manrope';
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 35px;
}

.kurs .container .fitnes .text{
    font-family:'Manrope';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
   
}

.kurs .container .fitnes .btn{
    width: 250px;
    height: 60px;
    color: black;
    border: 1px solid #3586ff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #3586ff;
    color: white;
    margin-top: 60px;
    transition: .3s;
}

.kurs .container .fitnes .btn:hover{
    color: black;
    border: 2px solid #3586ff; 
    background: white; 
    font-size: 15px; 
    padding: 5px 20px;
    transition: .4s;
}

.kurs .container .woman{
    width: 612px;
    height: 500px;
    background: url(../img/1.png);
    background-size: cover;
    background-position: center;
}

.cell{
    margin-top: 160px;
    margin-bottom: 160px;
}
.cell .container{
    display: flex;
    flex-direction: column;
    

}
.cell .container .title{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
   text-align: center;
}

.cell .container .kurs{
    display: flex;
    margin-top: 85px;
    justify-content: space-between;
}

.cell .container .kurs .one{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cell .container .kurs .one .woman-one{
    background: url(../img/2.png);
    width: 186px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    
}
.cell .container .kurs .one .text1{
    font-family: 'Manrope';
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.cell .container .kurs .two{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cell .container .kurs .two .woman-two{
    background: url(../img/3.png);
    width: 238px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.cell .container .kurs .two .text2{
    font-family: 'Manrope';
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cell .container .kurs .three{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cell .container .kurs .three .woman-three{
    background: url(../img/4.png);
    width: 186px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.cell .container .kurs .three .text3{
    font-family: 'Manrope';
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cell .container .btn .all{
    width: 250px;
    height: 60px;
    color: black;
    border: 1px solid #3586ff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #3586ff;
    color: white;
    margin-top: 60px;
    transition: .3s;
}

.cell .container .btn .all:hover{
    color: black;
    border: 2px solid #3586ff;
    background: white; 
    font-size: 15px; 
    padding: 5px 20px;
    transition: .4s;
}

.cell .container .btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.free .container .title{
    width: 100%;
    height: 492px;
    border-radius: 20px;
    background: url(../img/5.jpg);
    background-size: cover;
    background-position: center;
    
}
.free .container .title .text{
    padding-left: 100px;
    padding-top: 155px;
}

.free .container .title .text .txt{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
}
.free .container .title .text .txt2{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-top: 0;
}

.free .container .title .text .btn{
    width: 250px;
    height: 60px;
    color: black;
    border: 1px solid #3586ff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #3586ff;
    color: white;
    margin-top: 40px;
    transition: .3s;
}

.free .container .title .text .btn:hover{
    color: black;
    border: 2px solid #3586ff; 
    background: white; 
    font-size: 15px; 
    padding: 5px 20px;
    transition: .4s;
}

.onlinekrs{
    margin-top: 160px;
}
.onlinekrs .container{
    display: flex;
    flex-direction: column;
}
.onlinekrs .container .block1{
    display: flex;
    justify-content: space-between;
}
.onlinekrs .container .block1 .woman{
    width: 560px;
    height: 344px;
    border-radius: 15px;
    background: url(../img/6.jpg);
    background-size: cover;
    background-position: center;
}
.onlinekrs .container .block1 .text{
    display: flex;
    flex-direction: column;
}
.onlinekrs .container .block1 .text .txt1{
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.onlinekrs .container .block1 .text .txt2{
    font-family: "Manrope";
    font-size: 42px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.onlinekrs .container .block1 .text .txt3{
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.onlinekrs .container .block1 .text .reting{
    display: flex;
    justify-content: space-between;
}
.onlinekrs .container .block1 .text .reting .high{
    display: flex;
    width: 260px;
    height: 56px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;

}
.onlinekrs .container .block1 .text .reting .high h3{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
}

.onlinekrs .container .block1 .text .reting .high .star{
    display: flex;
    align-items: center;
    justify-content: center;
}
.onlinekrs .container .block1 .text .reting .high .star i{
    height: 16px;
    width: 16px;
}
.onlinekrs .container .block1 .text .reting .high .star h3{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
}
.onlinekrs .container .block1 .text .reting .date{
    display: flex;
    width: 260px;
    height: 56px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
}
.onlinekrs .container .block1 .text .reting .date .week{
    display: flex;
    align-items: center;
    justify-content: center;
}
.onlinekrs .container .block1 .text .reting .date .week i{
    width: 16px; 
    height: 16px;
}
.onlinekrs .container .block1 .text .reting .date .week h3{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
}
.onlinekrs .container .block1 .text .reting .date .tren{
    display: flex;
    align-items: center;
    justify-content: center;
}
.onlinekrs .container .block1 .text .reting .date .tren i{
    width: 16px; 
    height: 16px;
}
.onlinekrs .container .block1 .text .reting .date .tren h3{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
}

.onlinekrs .container .block1 .text .price{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    align-items: center;
}
.onlinekrs .container .block1 .text .price h2{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.onlinekrs .container .block1 .text .price .btn{
    width: 250px;
    height: 60px;
    color: black;
    border: 1px solid #3586ff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #3586ff;
    color: white;
    margin-top: 60px;
    transition: .3s;
}

.onlinekrs .container .block1 .text .price .btn:hover{
    color: black;
    border: 2px solid #3586ff; 
    background: white; 
    font-size: 15px; 
    padding: 5px 20px;
    transition: .4s;
}

.onlinekrs .container .block2 .infofit .perecluch{
    width: 100%;
    overflow: hidden;

}
.onlinekrs .container .block2 .infofit .perecluch .line{
    width: 300%;
    display: flex;
    
    
    
}
.onlinekrs .container .block2 .infofit .perecluch .line .text{
    width: calc(100%/3);
    display: flex;
    justify-content: space-between;
    transition: 1s;
    
}
.onlinekrs .container .block2 .infofit .perecluch .line .text .photo{
    display: flex;
    width: calc(100%/1.3);
    justify-content: space-between;
    
}

#input1:checked ~ .perecluch .text{
    transform: translateX(0);
    transition: 1s;
}
#input2:checked ~ .perecluch .text{
    transform: translateX(-100%);
    transition: 1s;
}
#input3:checked ~ .perecluch .text{
    transform: translateX(-200%);
    transition: 1s;
}
#input1:checked ~ .perecluch .text1{
    opacity: 1;
    transition: 1s;
}
#input2:checked ~ .perecluch .text2{
    opacity: 1;
    transition: 1s;
}
#input3:checked ~ .perecluch .text3{
    opacity: 1;
    transition: 1s;
}
#input1:checked ~ #label1,
#input2:checked ~ #label2,
#input3:checked ~ #label3{
    background-color: #3586ff;
    color: white;
    transition: .3s;
}
.onlinekrs .container .block2{
    margin-top: 60px;
}
.onlinekrs .container .block2 .infofit input{
    display: none;
}

.onlinekrs .container .block2 .infofit label{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 9px;
    transition: .5s;
    margin-right: 40px;
}

.onlinekrs .container .block2 .infofit .perecluch{
    margin-top: 40px;
}
.onlinekrs .container .block2 .infofit .perecluch .line .text h3{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
}
.onlinekrs .container .block2 .infofit .perecluch .line .photo h2{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.onlinekrs .container .block2 .infofit .perecluch .line .photo h4{
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.onlinekrs .container .block2 .infofit .perecluch .line .photo .photos{
    width: 260px;
    height: 274px;
    background-color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.onlinekrs .container .block2 .infofit .perecluch .line .photo .photos .one{
    background: url(../img/7.png);
    width: 109px;
    height: 190px;
}
.onlinekrs .container .block2 .infofit .perecluch .line .photo .photos .two{
    background: url(../img/8.png);
    width: 164px;
    height: 190px;
}
.onlinekrs .container .block2 .infofit .perecluch .line .photo .photos .three{
    background: url(../img/9.png);
    width: 196px;
    height: 190px;
}

.onlinekrs .container .block2 .infofit .perecluch .line .text1{
    opacity: 0;
    transition: .5s;
}
.onlinekrs .container .block2 .infofit .perecluch .line .text2{
    opacity: 0;
    transition: .5s;
}
.onlinekrs .container .block2 .infofit .perecluch .line .text3{
    opacity: 0;
    transition: .5s;
}

.about{
    background-color: #f1f4f8;
    margin-top: 155px;
    padding-top: 150px;
    padding-bottom: 140px;
}

.about .container{
    display: flex;
    justify-content: space-between;
}
.about .container .titile h2{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about .container .titile h3{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
}

.about .container .titile .btn{
    width: 250px;
    height: 60px;
    color: black;
    border: 1px solid #3586ff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #3586ff;
    color: white;
    margin-top: 60px;
    transition: .3s;
}

.about .container .titile .btn:hover{
    color: black;
    border: 2px solid #3586ff; 
    background: white; 
    font-size: 15px; 
    padding: 5px 20px;
    transition: .4s;
}
.about .container .img{
    display: flex;
   
}
.about .container .img .woman{
    margin-top: 40px;
    background: url(../img/10.jpg);
    width: 560px;
    height: 402px;
    border-radius: 25px;
}

.cell2{
    margin-top: 150px;
}
.cell2.container{
    display: flex;
    flex-direction: column;
}
.cell2 .container .txt{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.cell2 .container .work{
    display: flex;
    justify-content: space-between;
}

.cell2 .container .work .cell h2{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    background-color: #3586ff;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 9px;
    width: 60px;
    text-align: center;
}
.cell2 .container .work .cell h3{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.cell2 .container .work .cell h4{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.personal{
    margin-top: 140px;
    margin-bottom: 50px;
}
.personal .container{
    background: rgb(230,235,240);
    background: linear-gradient( rgba(240,243,245,1) 65%, rgba(233, 236, 238, 0.507) 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.personal .container .text1{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.personal .container .text2{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
    margin-bottom: 40px;
}
.personal .container .knop1{
    display: flex;
    justify-content: space-between;
    width: calc(100%/2.2);
    margin-bottom: 15px;
}
.personal .container .knop1 h3{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.personal .container .knop1 input{
    width: 250px;
    height: 54px;
    background: none;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    text-indent: 10px;
}
.personal .container .knop2{
    width: calc(100%/2.2);
}
.personal .container .knop2 .mail{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.personal .container .knop2 input{
    width: 100%;
    height: 54px;
    background: none;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    text-indent: 10px;
}
.personal .container .zel{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    width: calc(100%/2.2);
    margin-top: 25px;
}
.personal .container .switch{
    display: flex;
    width: calc(100%/2.2);
    margin-bottom: 30px;
    align-items: center;
}
.personal .container .switch label{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 2px;
}
.personal .container .switch input{
    margin-left: 0;
    margin-right: 0;
    height: 15px;
    width: 15px;
}
.personal .container .switch .one{
    display: flex;
    align-items: center;
}

.personal .container .switch .two{
    display: flex;
    align-items: center;
    
}
.personal .container .switch .three{
    display: flex;
    align-items: center;
}

.personal .container .sogl{
    width: calc(100%/2.2);
}
.personal .container .sogl input{
    margin-left: 0;
    height: 15px;
    width: 15px;
}
.personal .container .sogl label{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
.personal .container .sogl{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.personal .container  .btn{
    width: 250px;
    height: 60px;
    color: black;
    border: 1px solid #3586ff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: #3586ff;
    color: white;
    transition: .3s;
}

.personal .container  .bnt:hover{
    color: black;
    border: 2px solid #3586ff; 
    background: white; 
    font-size: 15px; 
    padding: 5px 20px;
    transition: .4s;
}

.footer{
    margin-bottom: 60px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container .fit h3{
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
}
.footer .container .img{
    display: flex;
    justify-content: space-between;
    width: calc(100%/9.2);
    align-items: center;
}
.footer .container .txt{
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    
}
.footer .container .txt a{
    color: black;
}

@media (max-width: 1200px) {
    .container{
        width: 992px;
    }
    .footer .container{
        width: 95%;
    }
    .personal .container{
        width: 95%;
    }
    .personal .container .knop1{
        width: calc(100%/1.7);
    }
    .personal .container .knop2{
        width: calc(100%/1.7) !important;
    }
    .personal .container .zel{
        width: calc(100%/1.7) !important;
    }
    .personal .container .switch{
        width: calc(100%/1.7) !important;
    }
    .personal .container .sogl{
        width: calc(100%/1.7) !important;
    }
    .personal{
        margin-top: 50px;
    }
    .cell2 {
        margin-top: 50px;
    }
    .cell2 .container .work{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .cell2 .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .container .titile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .container .titile h3{
        text-align: center;
    }
    .about{
        padding-top: 50px;
    }
    .onlinekrs .container .block1 .woman{
        width: 360px;
    }
    .onlinekrs .container .block1{
        padding-left: 20px;
        padding-right: 20px;
    }
    .onlinekrs .container .block2 .perecluch .line .text .photo .photos{
        width: 220px;
    }
    .onlinekrs .container .block2{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .onlinekrs .container .block2 .perecluch .line .text h3{
        width: calc(100%/4);
        margin-right: 10px;
    }
    .free .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .free .container .title .text{
        padding-left: 30px;
    }
    .cell .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .cell{
        margin-top: 50px;
    }
    .cell .container .kurs{
        margin-top: 30px;
    }
    .cell .container .kurs .one,
    .cell .container .kurs .two,
    .cell .container .kurs .three{
        width: 300px !important;
    }
    .kurs .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kurs .container .fitnes .title{
        margin-top: 0;
        text-align: center;
    }
    .kurs .container .fitnes .text{
        text-align: center;
    }
    .kurs .container .fitnes a{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    .kurs .container .woman{
        margin-top: 70px;
    }
    .header .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header .container .icons{
        width: calc(100%/7.3);
    }
    .header .container .title .razdel-click{
        margin-right: 40px;
    }
    .header .container .title .razdel-click:nth-child(1){
        margin-left: 25px;
    }
    .header .container .title .razdel-click:nth-child(5){
        margin-right: 0;
    }
    
}

@media (max-width: 992px) {
    .container{
        width: 766px;
    }
    .personal .container .knop1{
        width: calc(100%/1.3);
    }
    .personal .container .knop2{
        width: calc(100%/1.3) !important;
    }
    .personal .container .zel{
        width: calc(100%/1.3) !important;
    }
    .personal .container .switch{
        width: calc(100%/1.3) !important;
    }
    .personal .container .sogl{
        width: calc(100%/1.3) !important;
    }
    .cell2 .container .work{
        width: 70%;
    }
    .onlinekrs .container .block1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .onlinekrs .container .block1 .woman{
        margin-bottom: 30px;
        width: 560px;
    }
    .onlinekrs .container .block2 .infofit{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .onlinekrs .container .block2 .infofit label{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo .photos{
        margin-left: 10px;
        margin-right: 10px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text h3{
        width: 100%;
        margin-bottom: 40px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo{
        width: 100%;
    }

    .cell .container .kurs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cell .container .kurs .one{
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .cell .container .kurs .two{
        margin-left: 10px;
    }
    .header .container .title a{
        margin-right: 10px !important;
    }
    .header .container .icons{
        width: calc(100%/6);
    }
    
}

@media (max-width: 768px) {
    .container{
        width:  576px;
    }
    .footer .container .img {
        width: calc(100%/7);
    }
    .personal .container{
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .personal .container .text1{
        text-align: center;
        line-height: 40px;
    }
    .personal .container .text2{
        text-align: center;
        font-size: 16px;
    }
    .personal .container .knop1{
        width: calc(100%/1.08);
    }
    .personal .container .knop2{
        width: calc(100%/1.08) !important;  
    }
    .personal .container .zel{
        width: calc(100%/1.08) !important;  
    }
    .personal .container .switch{
        width: calc(100%/1.08) !important;  
    }
    .personal .container .sogl{
        width: calc(100%/1.08) !important;  
    }
    .cell2 .container .work{
        width: 90%;
    }
    .onlinekrs .container .block2 .infofit{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .onlinekrs .container .block2 .infofit label{
        margin-right: 0px;
        
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo .photos{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text h3{
        width: 100%;
        margin-bottom: 40px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .about{
        margin-top: 50px;
    }
    .free .container .titile  .text{
        width: calc(100%/2.2);
        padding-top: 50px;
    }
    .cell .container .kurs .one{
        margin-right: 0;
    }
    .cell .container .kurs .two{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .kurs .container .woman{
        width: 512px;
        height: 430px;
    }
    .header .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header .container .icons a{
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header .container .icons .icon .fa-magnifying-glass{
        height: 15px !important;
        width: 15px !important;
    }
    .header .container .icons .icon .fa-cart-shopping{
        height: 15px !important;
        width: 15px !important;
    }
    .header .container .icons .icon .fa-house{
        height: 15px !important;
        width: 16px !important;
    }

}

@media (max-width: 576px) {
    .container{
        width:  480px;
        padding: 10px;
    }
    .kurs .container .woman{
        width: 450px;
        height: 380px;
    }
    .header .container .logotype img{
        width: 84px;
        height: 15px;
    }
    .header .container .title .razdel-click{
        font-size: 12px;
    }
    .header .container .title .razdel-click:nth-child(1){
        margin-left: 0;
    }
    .header .container .title .razdel-click:nth-child(5){
        margin-right: 0 !important;
    }
    .header .container .icons a{
        height: 20px;
        width: 20px;
    }
    .header .container .icons .icon .fa-magnifying-glass{
        height: 10px !important;
        width: 10px !important;
    }
    .header .container .icons .icon .fa-cart-shopping{
        height: 10px !important;
        width: 10px !important;
    }
    .header .container .icons .icon .fa-house{
        height: 10px !important;
        width: 10px !important;
    }
    .header .container{
        margin-bottom: 50px;
    }
    .kurs .container .fitnes .title{
        font-size: 42px;
        line-height: 40px;
    }
    .kurs .container .fitnes .text{
        font-size: 16px;
    }
    .kurs .container .fitnes .btn{
        width: 230px;
        height: 50px;
    }
    .cell .container .title{
        font-size: 32px;
    }
   
    .cell .container .kurs .one{
        width: 200px !important;
        height: 240px !important;
        margin-right: 10px;
    }
    .cell .container .kurs .title .text1{
        font-size: 16px;
        margin-top: 20px;
    }
    .cell .container .kurs .two{
        width: 200px !important;
        height: 240px !important;
        margin-left: 10px;
    }
    .cell .container .kurs .two .woman-two{
        width: 172px !important;
        height: 171px !important;
        margin-top: 0;
    }
    .cell .container .kurs .two .text2{
        font-size: 16px;
        margin-top: 20px;
    }
    .cell .container .kurs .three{
        width: 200px !important;
        height: 240px !important;
    }
    .cell .container .kurs .three .woman-three{
        width: 152px !important;
        height: 197px !important;
        margin-top: 0;
    }
    .cell .container .kurs .three .text3{
        font-size: 16px;
    }
    .cell .container .btn .all{
        width: 230px;
        height: 50px;
    }
    .cell{
        margin-bottom: 100px;
    }
    .free .container .title .text{
        padding-top: 25px;
    }
    .onlinekrs{
        margin-top: 100px;
    }
    .onlinekrs .container .block1 .woman{
        width: 450px;
    }
    .onlinekrs .container .block1 .text .txt1{
        font-size: 14px;
    }
    .onlinekrs .container .block1 .text .txt2{
        font-size: 32px;
    }
    .onlinekrs .container .block1 .text .txt3{
        font-size: 16px;
    }
    .onlinekrs .container .block1 .text .reting .high{
        width: 220px;
    }
    .onlinekrs .container .block1 .text .reting .date{
        width: 220px;
    }
    .onlinekrs .container .block1{
        padding: 0;
    }
    .onlinekrs .container .block1 .text .price h2{
        font-size: 32px;
    }
    .onlinekrs .container .block1 .text .price .btn{
        width: 230px;
        height: 50px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text h3{
        margin-top: 0;
        margin-right: 0;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo .photos{
        width: 190px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text1 .photo .photos .three{
        width: 188px;
    }
    .about .container .titile h2{
        font-size: 32px;
    }
    .about .container .titile h3{
        font-size: 16px;
    }
    .about .container .titile .btn{
        width: 230px;
        height: 50px;
    }
    .about .container .img{
        width: 450px;
    }
    .cell2 .container .txt{
        font-size: 32px;
    }
    .cell2 .container .work h2{
        font-size: 12px !important;
    }
    .cell2 .container .work h3{
        font-size: 16px !important;
    }
    .cell2 .container .work h4{
        font-size: 12px !important;
    }
    .personal .container .text1{
        font-size: 32px;
    }
    .personal .container .text2{
        font-size: 13px;
    }
    .personal .container .knop1 {
        width: calc(100%/1.1);
    }
    .personal .container .knop1 .name input{
        width: 190px;
    }
    .personal .container .knop1 .tel input{
        width: 190px;
    }
    .personal .container .knop1 h3{
        font-size: 12px !important;
    }
    .personal .container .knop2 h3{
        font-size: 12px !important;
    }
    .personal .container .zel{
        font-size: 12px !important;
    }
    .personal .container .switch label{
        font-size: 12px !important;
    }
    .personal .container .sogl label{
        font-size: 12px !important;
    }
    .personal .container .btn{
        width: 230px;
        height: 50px;
    }
    .footer .container{
        padding: 0;
    }
    .footer .container .fit h3{
        font-size: 10px;
    }
    .footer .container .txt a{
        font-size: 10px;
    }
    .footer .container .img{
        width: calc(100%/6);
    }
    
}

@media (max-width: 480px) {
    .container{
        width:  300px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header .container{
        padding: 0 !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .header .container .logotype img{
        width: 69px;
        height: 13px;
    }
    .header .container .title .razdel-click{
        font-size: 10px !important;
    }
    .header .container .title{
        width: calc(100%/2.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header .container .title .razdel-click:nth-child(3){
        margin-right: 0 !important;
    }
    .header .container .icons{
        width: calc(100%/4.7);
    }
    .kurs .container .fitnes .title{
        font-size: 25px;
        line-height: 30px;
    }
    .kurs .container .fitnes .text{
        font-size: 15px;
    }
    .kurs .container .fitnes .btn{
        width: 200px;
        height: 45px;
    }
    .kurs .container .woman{
        width: 292px;
        height: 240px;

    }
    .cell .container{
        padding: 0;
    }
    .cell .container .title{
        font-size: 22px;
    }
    
    .cell .container .kurs .one{
        width: 130px !important;
        height: 190px !important;
    }
    .cell .container .kurs .one .woman-one{
        height: 150px !important;
        width: 117px;
        margin-top: 5px;
    }
    .cell .container .kurs .one .text1{
        margin-top: 5px;
        font-size: 16px;
    }
    .cell .container .kurs .two{
        width: 130px !important;
        height: 190px !important;
    }
    .cell .container .kurs .two .woman-two{
        width: 123px !important;
        height: 123px !important;
        margin-top: 10px;
    }
    .cell .container .kurs .two .text2{
        margin-top: 20px;
    }

    .cell .container .kurs .three{
        width: 130px !important;
        height: 190px !important;
    }
    .cell .container .kurs .three .woman-three{
        width: 115px !important;
        height: 155px !important;
        margin-top: 10px;
    }
    .cell .container .kurs .two .text2{
        margin-top: 20px;
    }
    .cell .container .btn .all{
        width: 200px;
        height: 45px;
    }
    .free .container .title{
        width: 150%;
        height: 392px;
        border-radius: 20px;
        background: url(../img/5.jpg);
        margin-left: -50px;
    }
    .free .container .title{
        background-position-x: -520px;
    }
    .free .container .title .text{
        padding-left: 10px;
    }
    .free .container .title .text .txt{
        font-size: 32px;
    }
    .free .container .title .text .txt2{
        font-size: 16px;
        margin-bottom: 40px;
        text-align: start !important;
    }
    .free .container .title .text .btn{
        width: 240px;
    }
    .onlinekrs .container .block1 .woman{
        width: 280px;
    }
    .onlinekrs .container .block1 .text .txt1{
        font-size: 12px !important;
        text-align: start !important;
    }
    .onlinekrs .container .block1 .text .txt2{
        font-size: 22px !important;
        
    }
    .onlinekrs .container .block1 .text .txt3{
        font-size: 14px;
        text-align: start !important;
    }
    .onlinekrs .container .block1 .text .reting .high{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140px;
    }
    .onlinekrs .container .block1 .text .reting .high h3{
        margin-bottom: 0;
        margin-top: 0;
        font-size: 12px !important;
    }
    .onlinekrs .container .block1 .text .reting .date{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140px;
    }
    .onlinekrs .container .block1 .text .reting .date h3{
        margin-bottom: 0;
        margin-top: 0;
        font-size: 12px !important;
    }
    .onlinekrs .container .block1 .text .price h2{
        font-size: 22px;
    }
    .onlinekrs .container .block1 .text .price .btn{
        width: 140px;
        padding: 0;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text h3{
        font-size: 14px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo .photos{
        width: 161px;
        height: 220px;
    }
    .onlinekrs .container .block2 .infofit .perecluch .line .text .photo .photos .three{
        background-position-x: 20px !important;
    }
    .onlinekrs .container .block2 .infofit label{
        font-size: 14px;
    }
    .about{
        margin-top: 20px;
        padding-bottom: 50px;
    }
    .about .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .about .container .title h2{
        font-size: 22px;
    }
    .about .container .title h3{
        font-size: 14px;
    }
    .about .container .title .btn{
        width: 200px;
        margin-top: 50px;
    }
    .about .container .img{
        display: flex;
        justify-content: center;
        width: 280px;
    }
    .about .container .aboutimg .womanabout{
        width: 280px;
        background-position-x: -60px;
    }
    .cell2 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cell2 .container .big{
        font-size: 22px;
    }
    .cell2 .container .work{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cell2 .container .work h2,h3,h4{
        text-align: center !important;
    }
    .cell2 .container .work h2{
        padding-left: 10px !important;
        padding-right: 10px !important;
        display: flex;
        justify-content: center;
        margin-left: 60px;
    }
    .personal .container{
        padding-top: 50px;
    }
    .personal .container .text1{
        font-size: 22px;
        line-height: 20px;
    }
    .personal .container .text2{
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .personal .container .knop1{
        display: flex;
        flex-direction: column;
        width: 95%;
        
    }
    .personal .container .knop1 .name{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .personal .container .knop1 .name input{
        width: 100%;
    }
    .personal .container .knop1 .phone{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .personal .container .knop1 .phone input{
        width: 100%;
    }
    .personal .container .knop2{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .personal .container .knop2 input{
        width: 100%;
    }
    .personal .container .zel{
        display: flex;
        justify-content: start;
    }
    .personal .container .switch{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .personal .container .btn{
        width: 200px !important;
    }
    .footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .container .img{
        width: calc(100%/4);
    }
    
    
    
}